.background-img {
  background-image: url("/img/jumbotron.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
}

.containerHeader {
  width: 70%;
  margin: auto;
  padding: 20px 0;
}

.headerTop {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

