* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-img {
  background-image: url("/img/jumbotron.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
}

.containerHeader {
  width: 70%;
  margin: auto;
  padding: 20px 0;
}

.headerTop {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.main .backgroundHomeMain {
  background-color: black;
  color: white;
  padding: 100px;
  text-align: center;
  margin-bottom: 0;
}

.main nav {
  background-color: #0282F9;
  padding: 50px 0;
}

.main nav ul {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.main nav ul li {
  list-style: none;
}

.main nav ul li .img {
  width: 50px;
  height: 60px;
  padding-right: 10px;
}

.sfondoFooter {
  width: 100%;
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container ul {
  padding-right: 20px;
}

.container h4 {
  color: white;
  padding-bottom: 10px;
}

.container .h4Shop {
  color: white;
  margin-top: 20px;
}

.container li {
  list-style-type: none;
  color: grey;
}

.container .containerList {
  display: flex;
  padding: 60px 0;
}

.container .img-footer {
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
}

.sfondoBottom {
  background-color: rgb(48, 48, 48);
  padding: 20px 0;
}

.sfondoBottom .containerSfondoBottom {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.sfondoBottom button {
  border: 2px solid blue;
  padding: 10px;
  background-color: rgb(48, 48, 48);
  color: white;
}

.sfondoBottom .containerSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sfondoBottom .containerSocial h4 {
  color: blue;
  font-size: 1rem;
}

.sfondoBottom .containerSocial2 {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.sfondoBottom .social {
  margin: auto;
  padding-left: 20px;
  margin-left: 0;
}

